/* unset body */ 
body {
	transition:all 0.8s ease;
    padding: 0px;
    margin: 0px;
}

/** set up canvas */

.canvas {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

@keyframes playerAnimation {
    0% {
        transition:all 0.9s ease;
        opacity: .6;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        width: 45px;
        height: 45px;
        opacity: 0.9;
    }
    40% {
        background-color: white;
    }
    50% {
        width: 45px;
        height: 45px;
        opacity: 0.6;
        background-color: red;
    }
    60% {
        background-color: white;
    }
    100% {
        transition:all 0.4s ease;
        opacity: .1;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
        width: 45px;
        height: 45px;
    }
}

.player {
    border-radius: 50%;
    background-color: #fff;
    /* animation */
    animation-name: playerAnimation;
    animation-duration: 5s;
    animation-fill-mode: ease;
}

@keyframes pongAnimation {
    0% {
        transition:all 0.9s ease;
        opacity: .6;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        width: 75px;
        height: 75px;
        opacity: 0.9;
    }
    50% {
        width: 80px;
        height: 80px;
        opacity: 0.6;
    }
    100% {
        transition:all 0.4s ease;
        opacity: .1;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
        width: 45px;
        height: 45px;
    }
}

.pong {   
    /* animation */
    animation-name: pongAnimation;
    animation-fill-mode: ease;
    animation-duration: 4s;
    -webkit-animation:pongAnimation 1s forwards;
    width: 100px;
    height: 50px;  
    background-image: url('../img/pong_white.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;

}




@keyframes rippleAnimation {
    0% {
        transition:all 0.9s ease;
        opacity: .6;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        width: 75px;
        height: 75px;
        opacity: 0.9;
    }
    40% {
        background-color: white;
    }
    50% {
        width: 85px;
        height: 85px;
        opacity: 0.6;
        background-color: red;
        transform: scale(1);
    }
    60% {
        background-color: white;
    }
    100% {
        transition:all 0.4s ease;
        opacity: 0;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        width: 75px;
        height: 75px;
    }
}

.ripple {
    border-radius: 50%;
    background-color: #fff;
    /* animation */
    animation-name: rippleAnimation;
    animation: rippleAnimation 1s ease-out;
    animation-duration: 2s;
    animation-fill-mode: ease;
    overflow: hidden;
}

.ripple:after {
    background: #3f51b5;
    border-radius: 100%;
    opacity: .6;
    transform: scale(0);
}

